{% if zp_integrate_with_bold_product_options == true %}{% include "bold-common" %}{% include "bold-product" with product, hide_action: "break", output: "none" %}{% elsif zp_integrate_with_bold_quantity_breaks == true %}{% include "bold-product" with product, hide_action: "break" %}{% if bold_hidden_product %}{% break %}{% endif %}{% endif %}{% capture zp_replace_integration %}<zp_additional_integration></zp_additional_integration>{% endcapture %}{{ zp_replace_integration | replace: '<zp_additional_integration>', '' | replace: '</zp_additional_integration>', '' | strip }}{% assign zp_replace_integration = '' %}{% capture zp_product_var_content %}{% if zp_selected_variants.size < 1 %}{% assign zp_selected_variants = product.variants | map: "id" | join: "," | split: "," %}{% endif %}{% assign zp_filtered_selected_variants = "" %}{% assign zp_first_selected_variant = nil %}{% assign zp_any_product_variant_available = false %}{% for variant in product.variants %}{% assign zp_variant_id = "" | append: variant.id %}{% if zp_selected_variants contains zp_variant_id %}{% assign zp_filtered_selected_variants = zp_filtered_selected_variants | append: zp_variant_id | append: "," %}{% if zp_first_selected_variant == nil and variant.available %}{% assign zp_first_selected_variant = variant %}{% endif %}{% if variant.available %}{% assign zp_any_product_variant_available = true %}{% endif %}{% endif %}{% endfor %}{% assign zp_selected_variants = zp_filtered_selected_variants | split: "," %}{% if zp_selected_variants.size < 1 %}{% assign zp_selected_variants = product.variants | map: "id" | join: "," | split: "," %}{% endif %}{% assign zp_first_selected_variant_id_size = "" | append: zp_first_selected_variant.id | size %}{% if zp_first_selected_variant_id_size > 0 %}{% assign zp_first_selected_variant_available = true %}{% else %}{% assign zp_first_selected_variant_available = false %}{% endif %}{% if zp_first_selected_variant_available == true %}{% assign zp_current_product_price = zp_first_selected_variant.price %}{% else %}{% assign zp_current_product_price = product.price %}{% endif %}{% endcapture %}{% assign zp_product_var_content = "" %}{% capture zp_product_var_content %}
  {% assign zp_discount_amount = 0 | plus: zp_product_discount_data[0] | abs %} {% assign zp_discount_type = '' | append: zp_product_discount_data[1] %} {% if zp_discount_type == 'percentage' %} {% assign zp_saved_amount = zp_current_product_price | times: zp_discount_amount | divided_by: 100 %} {% else %} {% assign zp_saved_amount = zp_discount_amount | times: 100 %} {% endif %} {% if zp_saved_amount > zp_current_product_price %} {% assign zp_saved_amount = zp_current_product_price %} {% endif %} {% assign zp_sale_price = zp_current_product_price | minus: zp_saved_amount %}
  {% if zp_product_redirect_with_params == nil %}{% assign zp_current_product_redirect_with_params = false %}{% else %}{% assign zp_current_product_redirect_with_params = zp_product_redirect_with_params %}{% endif %}
{% endcapture %}{% assign zp_product_var_content = '' %}<div class="xs-12 sm-4 zpa-product__container--mobile--offset" id="{{ zp_product_wrapper_selector }}">
  <div class="flex-row zpa-bv3-container zp zps_brdblclassescape">
    <div class="xs-12 zpa-text-center">
      <div class="zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs zp zps_imgblclassescape">
        <img class="zpa-img-fluid zp zps_brd2blclassescape" zps_imgimgattr>
      </div>
      <div class="zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs">
        <div class="default-styles-wrapper zpa-word-wrap disable-internal-link zp zps_ttl1blclassescape">zps_ttl1cont</div>
      </div>
      <div class="zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs">
        <div class="default-styles-wrapper zpa-word-wrap disable-internal-link zp zps_ttl2blclassescape">zps_ttl2cont</div>
      </div>
      <div class="zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs">
        <div class="zpa-offset-bottom-xs">
          <span class="zpa-word-wrap zpa-offset-right zp zps_dcrt1classescape" data-zp-product-price>{{ zp_current_product_price | money }}</span>
          <span class="zp zps_dcrt2classescape">
            <span data-zp-product-discount-price>{{ zp_sale_price | money }}</span>*
          </span>
        </div>
        <div class="zpa-inline-block default-styles-wrapper zpa-word-wrap disable-internal-link zp zps_ttl3blclassescape">
          <div class="zpa-inline-block">zps_ttl3cont</div>
          <div class="zpa-inline-block zp zps_dcrt3classescape" data-zp-product-discount-difference>{{ zp_saved_amount | money }}</div>
        </div>
      </div>
      <div class="zpa-offset-bottom-md zpa-tablet-offset-bottom-sm zpa-mobile-offset-bottom-xs zpa-text-center">{% if product.available %}
        <form class="{% if zp_integrate_with_bold_quantity_breaks == true %}shapp_qb_prod{% endif %}" method="post" enctype="multipart/form-data" data-zp-add-to-cart-form data-zp-link-type="zps_prdbtnltpescape" data-zp-product-url="{{ zp_redirect_product_url }}" data-productid="{{ product.id }}" data-zp-redirect-with-url-params="{{ zp_current_product_redirect_with_params }}">{% if zp_show_variants_selectors == true %}
          <div class="zpa-product-variants-form-center zp zps_prdblclassescape">{% capture zp_replace_integration %}<zp_additional_property_integration></zp_additional_property_integration>{% endcapture %}{{ zp_replace_integration | replace: '<zp_additional_property_integration>', '' | replace: '</zp_additional_property_integration>', '' | strip }}{% assign zp_replace_integration = '' %}<select class="hidden noreplace" id="{{ zp_product_selector }}" name="id" data-productid="{{ product.id }}">{% capture zp_product_variants_selector %}{% assign zp_selected_variant_marked = false %}{% for variant in product.variants %}{% capture zp_product_variant_option %}{% assign zp_variant_id = '' | append: variant.id %}{% unless zp_selected_variants contains zp_variant_id %}{% continue %}{% endunless %}{% endcapture %}{% capture zp_replace_integration %}<zp_variant_integration></zp_variant_integration>{% endcapture %}{{ zp_replace_integration | replace: '<zp_variant_integration>', '' | replace: '</zp_variant_integration>', '' | strip }}{% assign zp_replace_integration = '' %}{% if zp_integrate_with_bold_quantity_breaks == true %}{% include "bold-variant" with variant, hide_action: "skip" %}{% endif %}{% capture zp_product_variant_option %}{% if variant.available %}<option {% if zp_selected_variant_marked == false %}{% assign zp_selected_variant_marked = true %}selected="selected" {% endif %}value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>{% else %}<option disabled="disabled">{{ variant.title }} - {% assign zp_translation = 'products.product.sold_out' | t %}{% if zp_translation contains 'translation missing' %}{% assign zp_translation = 'Sold Out' %}{% endif %}{{ zp_translation }}</option>{% endif %}{% endcapture %}{{ zp_product_variant_option | strip }}{% endfor %}{% endcapture %}{{ zp_product_variants_selector | strip }}{% assign zp_product_variants_selector = '' %}{% assign zp_product_variant_option = '' %}</select>{% if zp_integrate_with_bold_product_options == true %}<div class="bold_options" data-product-id="{{ product.id }}"></div>{% endif %}{% capture zp_replace_integration %}<zp_property_integration></zp_property_integration>{% endcapture %}{{ zp_replace_integration | replace: '<zp_property_integration>', '' | replace: '</zp_property_integration>', '' | strip }}{% assign zp_replace_integration = '' %}<div class="zpa-selector-wrapper zpa-quantity zpa-center-block zpa-offset-bottom-xs" data-zp-quantity-wrapper>{% capture zp_quantity_content %}{% if zp_product_show_quantity %}{% unless zp_product_show_quantity_label == false %}<label for="{{ zp_product_selector }}-quantity">{% assign zp_translation = 'products.product.quantity' | t %}{% if zp_translation contains 'translation missing' %}{% assign zp_translation = 'Quantity' %}{% endif %}{{ zp_translation }}</label>{% endunless %}<div class="zpa-quantity-block"><button class="zpa-btn-custom zpa-quantity-btn" type="button" data-zp-product-decrease-qty><svg class="zpa-quantity-icon" width="12px" height="12px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#iconDecrease"></use></svg></button><input class="zpa-quantity-field xs" id="{{ zp_product_selector }}-quantity" type="tel" name="quantity" value="zps_qtyescape" maxlength="2" size="2" pattern="^[1-9][0-9]*" inputmode="numeric" data-zp-product-quantity required><button class="zpa-btn-custom zpa-quantity-btn" type="button" data-zp-product-increase-qty><svg class="zpa-quantity-icon" width="12px" height="12px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#iconIncrease"></use></svg></button></div>{% else %}<input type="hidden" name="quantity" value="zps_qtyescape" data-zp-product-quantity>{% endif %}{% endcapture %}{{ zp_quantity_content | strip }}{% assign zp_quantity_content = '' %}</div></div>{% endif %}
          <div class="zpa-offset-bottom-sm zpa-mobile-offset-bottom-xs zpa-text-center">
            <div class="default-styles-wrapper zpa-word-wrap disable-internal-link zp zps_ttl4blclassescape">zps_ttl4cont</div>
          </div>{% if zp_integrate_with_bold_quantity_breaks == true %}<div class="shappify-qty-msg">{{ bold_selected_or_first_available_variant.metafields.shappify_qb.pricing_html }}</div>{% endif %}{% capture zp_replace_integration %}<zp_product_info_integration></zp_product_info_integration>{% endcapture %}{{ zp_replace_integration | replace: '<zp_product_info_integration>', '' | replace: '</zp_product_info_integration>', '' | strip }}{% assign zp_replace_integration = '' %}<div class="zpa-text-center-sm zps_prdbtnalignescape"><button type="submit" name="add" disabled data-zp-add-to-cart data-zp-add-and-go-to-cart="true" class="zpa-btn-custom zpa-mobile-btn-size zpa-add-to-cart-btn zp zps_prdlbtnclassescape" data-zp-link-type="zps_prdbtnltpescape"><span data-zp-add-to-cart-text>{% if zp_any_product_variant_available == true %}zps_prdbtncpt{% else %}{% assign zp_translation = 'products.product.sold_out' | t %}{% if zp_translation contains 'translation missing' %}{% assign zp_translation = 'Sold Out' %}{% endif %}{{ zp_translation }}{% endif %}</span></button>{% if zp_show_variants_selectors_link_types contains zp_product_link_type %}<div class="zpa-product-message-wrap zpa-product-message-wrap-center"><span class="zpa-product-message product-success hidden zp zps_crtmsgclassurl_escape" data-zp-product-messages data-zp-success-message="zps_addcrtmsgurl_escape" data-zp-error-class="product-error" data-zp-success-class="product-success"></span></div>{% endif %}</div><a href="{{ zp_redirect_product_url }}" target="zps_prdbtneltescape" style="display:none!important;" data-zp-product-redirect-link></a></form>{% else %}<div class="zpa-text-center-sm zps_prdbtnalignescape"><button type="button" disabled class="zpa-btn-custom zpa-mobile-btn-size zpa-add-to-cart-btn zp zps_prdlbtnclassescape">{% assign zp_translation = 'products.product.sold_out' | t %}{% if zp_translation contains 'translation missing' %}{% assign zp_translation = 'Sold Out' %}{% endif %}{{ zp_translation }}</button></div>{% endif %}</div>
      <div class="zp zps_img2blclassescape">
        <img class="zpa-img-fluid zp zps_brd3blclassescape" zps_img2attr>
      </div>
    </div>
    {% capture zp_replace_integration %}<zp_product_additional_footer_integration></zp_product_additional_footer_integration>{% endcapture %}{{ zp_replace_integration | replace: '<zp_product_additional_footer_integration>', '' | replace: '</zp_product_additional_footer_integration>', '' | strip }}{% assign zp_replace_integration = '' %}
  </div>
</div><script type="text/json" data-zp-product-init>{"translations":{"addToCart":"zps_prdbtncpturl_escape","soldOut":"{% assign zp_translation = 'products.product.sold_out' | t %}{% if zp_translation contains 'translation missing' %}{% assign zp_translation = 'Sold Out' %}{% endif %}{{ zp_translation | url_escape }}","unavailable":"{% assign zp_translation = 'products.product.unavailable' | t %}{% if zp_translation contains 'translation missing' %}{% assign zp_translation = 'Unavailable' %}{% endif %}{{ zp_translation | url_escape }}"},"moneyFormat":"{{ shop.money_format | url_escape }}","productSelector":"{{ zp_product_selector }}","selectedVariants":"zps_slctvrnturl_escape","productType":"{{ zp_product_type }}","imageSize":"{{ '' | append: zp_current_product_image_size | strip | default: 'master' | url_escape }}","productDiscountData":"zps_prddscntdataurl_escape","shopifyOptionsSelector":{{ zp_shopify_options_selector }},"initBuilder":{{ zp_any_product_variant_available }},"product":{% capture zp_replace_integration %}<zp_product_json_integration>{% capture zp_product_json %}{% if zp_integrate_with_bold_quantity_breaks == true %}{% include "bold-product", output: "json" %}{% else %}{{ product | json }}{% endif %}{% endcapture %}{% if zp_product_json contains "Liquid error: Could not find asset" %}{{ product | json }}{% else %}{{ zp_product_json | strip }}{% endif %}{% assign zp_product_json = '' %}</zp_product_json_integration>{% endcapture %}{{ zp_replace_integration | replace: '<zp_product_json_integration>', '' | replace: '</zp_product_json_integration>', '' | strip }}{% assign zp_replace_integration = '' %}}</script>{% assign zp_first_selected_variant = nil %}
{% capture zp_replace_integration %}<zp_product_footer_integration></zp_product_footer_integration>{% endcapture %}{{ zp_replace_integration | replace: '<zp_product_footer_integration>', '' | replace: '</zp_product_footer_integration>', '' | strip }}{% assign zp_replace_integration = '' %}