<div class="row menu_bar">
	<div class="container">
		<div class="menu">
			<ul>
				{% include 'navigation' %}
			</ul>
		</div><!--/menu-->
	{% if settings.enable_header_contact %}
		<div class="menu-right">
			<ul>
				<li class="header_time"> {{ settings.header_time }}</li>
				<li class="header_phone">
					<a href="tel:{{ settings.header_phone }}">
		{% if settings.usecustomphoneicon == true %}
						<img src="{{'phone-icon.png' | asset_url}}" class="picona">
		{% else %}
						<span class="fa fa-phone"></span>
		{% endif %}
		{{ settings.header_phone }}
					</a>
				</li><!--/header_phone-->
			</ul>
		</div><!--/menu-right-->
	{% endif %}
	</div><!--/container-->
</div><!--/menu_bar-->