{% if settings.enable_topcbar %}
	{% if settings.coupan != '' %}
<div class="row top_bar_save">	
	<div class="container">
		<p class='coupon-text'>Coupon Code: <span id="coupan_code_copy" >{{ settings.coupan }}</span> <span class="button_copy_code">Copy Code</span></p>
	</div><!--/container-->
	<div class="close-btn"><i class="fa fa-times"></i></div>
</div><!--/top_bar_save-->
	{% endif %}
{% endif %}