<div class="row top_bar {% if settings.enable_sticky_headerr == "two" %}no-border-sticky{% endif %}">	
	<div class="container table--layout">
{% if settings.enable_header_fb_page %}
	{% if settings.header_fb_page_url != "" %}
		<div class="fblikebar">
			<div class="cbha">
				<div id="fb-root"></div>
				<div class="fb-like" data-href="{{ settings.header_fb_page_url }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
			</div><!--/cbha-->
		</div><!--/fblikebar-->
	{% endif %}
{% endif %}
{% if settings.enable_strip_text %}
		<div class="shipping_bar">
			<p>{% if settings.strip_url != "" %}<a style="color: inherit;" class="free_shipping_top_strip" href="{{settings.strip_url}}">{% else %}<a style="color: inherit;" class="free_shipping_top_strip" href="javascript:void(0);">{% endif %} {% if settings.strip_url != "" %} </a> {% else %} </a> {% endif %}{% if settings.strip_display_user_country %}<span class="countryName"></span>&nbsp;<span class="flagImg f32"></span>{% endif %}</p>
		</div><!--/shipping_bar-->
{% endif %}
		<nav class="main-nav topnav">
			<ul class="tpn">
{% if settings.show_multiple_currencies %}
				<li class="dropdown">
					{% include 'currencies-switcher' %}
				</li>
{% endif %}
{% for link in linklists[settings.strip_linklist].links %}
				<li><a href="{{link.url}}" >{{link.title}}</a></li>
{% endfor %}
{% if shop.customer_accounts_enabled %}
				<li><a href="/account">{{ 'customer.account.title' | t }}</a></li>
	{% if customer %}
				<li><a href="/account/logout">{{ 'layout.customer.log_out' | t }}</a></li>
	{% endif %}
{% endif %}
			</ul><!--/tpn-->
			<div class="cart nm">
{% if template !="cart" %}
				<li class="top-nav-link cart__hover">
					<a  data-no-instant href="/cart" class="top-nav-link site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
	{% if settings.usecutomiconforcart == true %}
						<img src="{{'cart.png' | asset_url}}" class="cartimga">
	{% else%}
						<i class="fa fa-shopping-cart"></i>
	{% endif %}
						<span class="CartCount">
						{%- include 'bold-options-hybrid-cart-item-count' with cart -%}
						{{- bold_options_hybrid_item_count -}}
						</span>
					</a>
	{% if cart.item_count > 0 %}
					<div id="cart-popup">
						<div class="container">
							<div class="cartForm">
								<ul class="cart-popup-ul-middle">
		{% for item in cart.items %}
			{%- include 'bold-options-hybrid-cart-item' with item -%}
									<li>
										<a href="{{ item.url | within: collections.all }}">
											<div class="cart-img-div">
												<img src="{{ item | img_url: 'small' }}" alt="Image of {{ item.title | escape }}" class="cart-item-image" />
												<span class="pop-qty-crat">{{ item.quantity }}</span>
											</div><!--/cart-img-div-->
											<div class="cart-item-info">
												<span class="cart-item-title">
													{{ item.product.title }}{% if item.product.variants.size > 1 %} - {{ item.variant.title }}{% endif %}
			{% if settings.product_personalisation %}
				{% assign property_size = item.properties | size %}
				{% if property_size > 0 %}
					{% for p in item.properties %}
						{% unless p.last == blank %}
							{{ p.first }}:
							{% if p.last contains '/uploads/' %}
												<a class="lightbox" href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
							{% else %}
							{{ p.last }}
							{% endif %}
												<br>
						{% endunless %}
					{% endfor %}
				{% endif %}
			{% endif %}
													</span><!--/cart-item-title-->
												</div>
											</a>
											<a data-no-instant href="/cart/change?line={{ forloop.index }}&quantity=0" data-line="{{ forloop.index }}" data-variant="{{ item.variant.id }}" class="removeLineCartPop" rel="{{ item.variant.id }}"><i class="icon icon-x"></i></a>
										</li>
		{% endfor %}
								</ul><!--/cart-popup-ul-middle-->
								<ul class="cart-popup-ul-top">
									<li class="total-items"><b>{{ 'cart.general.total' | t }}: </b><span class="cart-current-items">
									{%- include 'bold-options-hybrid-cart-item-count' with cart -%}
									{{- bold_options_hybrid_item_count -}}</span> {{ cart.item_count | pluralize: 'Item', 'Items' }}</li>
									<li class="total-price">
										<span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>
										{{ cart.total_price | money }}
									</li><!--/total-price-->
								</ul><!--/cart-popup-ul-top-->
								<ul class="cart-popup-ul-bottom">
									<li><a href="/cart" class="btn--secondary btn--full cart__cartview">{{ 'cart.general.button' | t }}</a></li>
									<li>
										<a href="/checkout" class="btn btn--full cart__checkout Checkout">
											<img src="{{ 'checkout-button-icon.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo" class="no-border ratina-img addIcon" />
											<span id="CheckoutText">{{ 'cart.general.checkout' | t }}</span>
										</a>
		{% if settings.enable_cartstrip_text %}
										<div class="cart--promo-msg common_shipping_text"></div>
		{% endif %}
									</li>
								</ul><!--/cart-popup-ul-top-->
							</div><!--/cartForm-->
						</div><!--/container-->
					</div><!--/cart-popup-->
	{% else %}
					<div id="cart-popup" class="empty-popup">
						<div class="container">
							<ul class="cart-popup-ul-bottom">
								<li class="empty-cart-popup-msg">{{ 'cart.general.empty' | t }}</li>
								<li><a href="/collections/all" class="btn btn-large btn-primary">{{ 'cart.general.shop_now' | t }}</a></li>
							</ul><!--/cart-popup-ul-bottom-->
						</div><!--/container-->
					</div><!--/cart-popup-->
	{% endif %}
				</li><!--/top-nav-link-->
{% endif %}
			</div><!--/cart-->
		</nav><!--/main-nav-->
	</div><!--/container-->
</div><!--/top-bar-->