<div class="row middle_bar">
{% if settings.enable_mobile_topbar %}
	<div class="top--line mshop">
		<span class="mobile_bar_shipping_text">{{ settings.mobile_top_strip }}</span>{% if settings.enable_banner_user_country %}&nbsp;<span class="flagImg f32"></span>&nbsp;<span class="countryName"></span>{% endif %}
	</div><!--/top--line-->
{% endif %}
	<div class="container" {% if template =="cart" %}style="height: 50px;"{% endif %}>
		<div class="menu-btn {% if template =="cartt" %}medium-down--hide large--hide{% endif %}">
			<a href="#menu"><span class="fa fa-bars"></span></a>
		</div><!--/menu-btn-->
		<div class="search {% if template =="cartsearcht" %}medium-down--hide large--hide{% endif %}">
			<a href="javascript:;" class="header-search" id="searchlink">
				<span class="fa fa-search"></span>
			</a>
		</div><!--/search-->
		<div class="noproclas col-md-3">
			<div class="row">
				<div class="logo">
{% if settings.logo_use_image %}
					<a href="/" itemprop="url" class="desktop-logo">
						<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo" class="img-responsive" height="70" {% if settings.logo_max_width != ''%} style="width:{{settings.logo_max_width}}px" {% endif%}/>
					</a>
{% else %}
					<a href="/" itemprop="url">{{ shop.name }}</a>
{% endif %}
					<a href="/" class="mobile-logo">
						<img src="{{ 'logo.png' | asset_url }}" class="img-responsive" height="28" width="145">
					</a>
				</div><!--/logo-->
			</div><!--/row-->
		</div><!--/noproclas-->
		<div class="{% if settings.enable_header_promotion %}col-md-4 {% else %}col-md-6 {% endif %}">
{% if settings.enable_header_search %}
	{% if template !="cart" %}  {% endif %}
			<div class="search_panel">
				{% include 'search-bar' %}
			</div><!--/search_panel-->
{% endif %}
		</div><!--/col-->
{% if settings.enable_header_promotion %}
		<div class="col-md-2 mob-hide">
			<div class="header-promotion-image">
	{% if settings.header_promotion_link != ''%}
				<a href="{{settings.header_promotion_link}}">
	{% endif %}
					<img src="{{ 'transparent.png' | asset_url }}"
						data-src="{{ 'header_image.png' | asset_url }}"
						data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
						data-aspectratio="{{ 'header_image.png' | asset_url }}"
						data-sizes="auto"
						data-parent-fit="contain"
						class="lazyload"
						alt="Image of {{ shop.name | escape }}" />
	{% if settings.header_promotion_link != ''%}
				</a>
	{% endif %}
			</div><!--/header-promotion-image-->
		</div><!--/mob-hide-->
{% endif %}
{% if settings.enable_header_contact %}
		<div class="col-md-3 mob-hide">
			<div class="contact">
	{% if settings.optionofphone == 'Menu' %}

	{% else %}
				<p class="hsit">{{ settings.header_question_line }}</p>
				<h5>
					<a href="tel:{{ settings.header_phone }}">
		{% if settings.usecustomphoneicon == true %}
						<img src="{{'transparent.png' | asset_url}}" 
							data-src="{{'phone-icon.png' | asset_url}}"
							data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
							data-aspectratio="{{'phone-icon.png' | asset_url}}"
							data-sizes="auto"
							data-parent-fit="contain"
							class="lazyload picon">
		{% else %}
						<span class="fa fa-phone">
		{% endif %}
						</span>{{ settings.header_phone }}
					</a>
				</h5>
				<p><strong>{{ settings.header_time }}</strong></p>
	{% endif %}
			</div><!--/contact-->
		</div><!--/mob-hide-->
{% endif %}
		<div class="cart cart2 {% if template =="cart" %}medium-down--hide large--hide{% endif %}" {% if template =="cart" %}style="display: none !important;"{% endif %}>
			<a data-no-instant href="/cart" class="top-nav-link site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
{% if settings.usecutomiconforcart == true %}
				<img src="{{'cart.png' | asset_url}}" class="cartimga">
{% else%}
				<i class="fa fa-shopping-cart"></i>
{% endif %}
				<span class="CartCount">
					{%- include 'bold-options-hybrid-cart-item-count' with cart -%}
					{{- bold_options_hybrid_item_count -}}
				</span>
			</a>
{% if cart.item_count > 99 %}
			<style>
				.cart2 span,
				.cart__footer-icon a .CartCount{
					font-size: 9px;
				}
			</style>
{% endif %}
		</div><!--/cart-->
{% if settings.show_multiple_currencies %}
		<div class="mobile-currencies">
			<div class="dropdown">
				{% include 'currencies-switcher' %}
			</div><!--/dropdown-->
		</div><!--/mobile-currencies-->
{% endif %}
	</div><!--/container-->
</div><!--middle_bar-->