{% if section.settings.active == true %}
<style>
	.section-usp-bar .usp-bar {
		background-color: {{section.settings.background-color }};
	}
	.section-usp-bar .item {
		color: {{section.settings.text-color}};
		padding: {{section.settings.bar-height}}em 0;
		width: 100%;
		display: inline-block;
		text-align: center;
		font-weight: bold;
		font-size: {{section.settings.font-size}}px;
	}
	.section-usp-bar .item .fa {
		color: {{section.settings.icon-color}};
		display: inline-block;
		vertical-align: middle;
		font-size: 1.4em;
		margin-right: 0.4em;
	}
	.section-usp-bar .item .image-icon {
		display: inline-block;
		max-width: 80px;
		vertical-align: middle;
		margin-right: 0.5em;
	}
	.section-usp-bar .item .content {
		display: inline-block;
		vertical-align: middle;
	}
	@media ( min-width: 769px ) and ( max-width: 1435px ) {
		.section-usp-bar .item {
			font-size: 0.9em;
		}
	}
	@media ( min-width: 960px ) {
		.section-usp-bar .block {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.section-usp-bar .item {
			flex-grow: 1;
		}
		.usp-bar .owl-carousel .owl-stage-outer {
			display: flex;
			width: 100%;
		}
	}
</style>
<script type="text/javascript">
jQuery(function($) {
	var window_width = $(window).outerWidth(true);
	if( window_width < 960 ) {
		$('.usp-bar .block').owlCarousel({
			loop: true,
			nav: false,
			items: 1,
			autoplay: true,
			autoplayTimeout: 4000
		});
	}
	$(window).resize(function() {
		window_width = $(window).outerWidth(true);
		if( window_width > 959 ) {
			$('.usp-bar .block').trigger('destroy.owl.carousel')
		}
	});
});
</script>
<div class="row usp-bar">
	<div class="container">
		<div class="block">
		{% for block in section.blocks %}
			{% if block.settings.visible %}
			<a class="item" href="{{ block.settings.link }}" {% if block.settings.target == true %} target="_blank"{% endif %}>
				{% if block.settings.icon-type == 'icon' %}
				<i class="fa {{block.settings.icon}}"></i>
				{% elsif block.settings.icon-type == 'image' %}
				<div class="image-icon">
					<img src="{{block.settings.icon-image | img_url: 'large' }}" />
				</div>
				{% endif %}
				<div class="content">{{ block.settings.title }}</div>
			</a><!--/item-->
			{% endif %}
		{% endfor %}
		</div><!--/block-->
	</div><!--/container-->
</div><!--/usp-bar-->
{% endif %}

{% schema %}
{
	"name": "USP Bar",
	"class": "section-usp-bar",
	"settings": [
		{
			"id": "active",
			"type": "checkbox",
			"label": "Activate Block"
		},
		{
			"type": "color",
			"id": "background-color",
			"label": "Background Color",
			"default": "#e7e7e7"
		},
		{
			"type": "color",
			"id": "text-color",
			"label": "Text Color",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "icon-color",
			"label": "Icon Color",
			"default": "#FFFFFF"
		},
		{
			"type": "range",
			"id": "font-size",
			"min": 12,
			"max": 18,
			"step": 1,
			"unit": "px",
			"label": "Font size",
			"default": 16
		},
		{
			"type": "range",
			"id": "bar-height",
			"min": 0.1,
			"max": 3,
			"step": 0.1,
			"label": "Bar Height",
			"default": 1
		}
	],
	"blocks": [
		{
			"type": "item",
			"name": "Item",
			"limit": 5,
			"settings": [
				{
					"type": "checkbox",
					"id": "visible",
					"label": "Visible?"
				},
				{
					"type": "checkbox",
					"id": "target",
					"label": "Open in New Window?"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Item Link"
				},
				{
					"type": "radio",
					"id": "icon-type",
					"label": "Icon Type",
					"options": [
						{
							"value": "icon",
							"label": "Icon"
						},
						{
							"value": "image",
							"label": "Image"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "icon-image",
					"label": "Icon Image"
				},
				{
					"type": "select",
					"id": "icon",
					"label": "Icon",
					"options": [
						{
							"value": "fa-check-circle",
							"label": "Checked Circle"
						},
						{
							"value": "fa-truck",
							"label": "Truck Delivery"
						},
						{
							"value": "fa-money-bill",
							"label": "Money"
						},
						{
							"value": "fa-grin",
							"label": "Smiley"
						},
						{
							"value": "fa-star",
							"label": "Star"
						}
					]
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				}
			]
		}
	]
}
{% endschema %}