#AAI-title {
	color: red;
    font-size: 18px;
    font-weight: 700;
    margin-top: 14px;
    margin-bottom: 14px;
}
#AAI-buttontext a {
    display: inline-block;
    padding: 8px 10px;
    width: auto;
    margin: 0;
    line-height: 1.42;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background-color: #b4d641 !important;
    color: #fff !important;
    margin-top: 14px;
    margin-bottom: 14px;
}