{% assign zp_use_favicon = false %}{% assign zp_use_meta_tags = false %}{% assign zp_use_open_graph_tags = false %}<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<!-- Version 5.0.3 261118-->
<head>
  {% if settings.marketing_convert != "" %}{{ settings.marketing_convert }}{% endif %}
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if settings.favicon_enable %}
  	<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  {% if page_description %}
  	<meta name="description" content="{{ page_description | escape }}">
  {% endif %}


 

  <script src="{{ 'jquery.min.js' | asset_url }}"    async ></script>
  <script src="{{ 'app.js' | asset_url }}"    defer ></script>
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <meta name="author" content="{{ shop.name }}">
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" /> 

    {% if settings.default_font_family != "" %}
   
  <link rel="preload" href="https://fonts.googleapis.com/css?family={{settings.default_font_family}}:300,400,500,600,700" as="style" onload="this.onload=null;this.rel='stylesheet'"><noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{settings.default_font_family}}:300,400,500,600,700"></noscript>
 
  {% endif %}

  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'vendors.min.css' | asset_url | stylesheet_tag }}

  {% comment %}{{ content_for_header }}{% endcomment %}{% capture zp_include_html %}{% include 'header-scripts.zipifypages' %}{% endcapture %}{% unless zp_include_html contains 'Liquid error: Could not find asset snippets/header-scripts.zipifypages.liquid' or zp_include_html contains 'Liquid error: Could not find asset snippets/page-content-parser.zipifypages.liquid' %}{{ zp_include_html | strip }}{% assign zp_include_html = '' %}{% endunless %}
  
  {% comment %} Bold:POv2 {% endcomment %}
  
  {%- include 'bold-product' with product, hide_action: 'header' -%}
  {% include 'bold-common' %}
 
  {% include 'oldIE-js' %}
 
 
  {% if template contains 'customers' %}
  	{{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% else %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {% if settings.timer_model == "timer_model_2" %}
  
   
  {% endif %}
  {% if settings.marketing_googleadwords != "" %}{{ settings.marketing_googleadwords }}{% endif %}
  {% if settings.marketing_googlewebmaster != "" %}{{ settings.marketing_googlewebmaster }}{% endif %}
  {% if settings.marketing_fbpixel != "" %}{{ settings.marketing_fbpixel }}{% endif %}
  {% if settings.marketing_feedburner != "" %}{{ settings.marketing_feedburner }}{% endif %}
  {% if settings.marketing_bingwebmaster != "" %}{{ settings.marketing_bingwebmaster }}{% endif %}
  {% if settings.marketing_hotjar != "" %}{{ settings.marketing_hotjar }}{% endif %}
  {% if settings.marketing_googletagmanager != "" %}{{ settings.marketing_googletagmanager }}{% endif %}

  {% if settings.code_placement_option_for_additionalone == "top" %}
  {% if settings.marketing_additionalone != "" %}{{ settings.marketing_additionalone }}{% endif %}
  {% endif %}
  {% if settings.code_placement_option_for_additionaltwo == "top" %}
  {% if settings.marketing_additionaltwo != "" %}{{ settings.marketing_additionaltwo }}{% endif %}	
  {% endif %}
  {% if settings.code_placement_option_for_additionalthree == "top" %}
  {% if settings.marketing_additionalthree != "" %}{{ settings.marketing_additionalthree }}{% endif %}	
  {% endif %}
  {% if settings.code_placement_option_for_additionalfour == "top" %}
  {% if settings.marketing_additionalfour != "" %}{{ settings.marketing_additionalfour }}{% endif %}	
  {% endif %}
  {% if template == "cart" %}
    {{ 'underscore-min.js' | asset_url | script_tag }} 
    {{ '/services/javascripts/countries.js' | script_tag }}
    {{ 'jquery.cart.min.js' | asset_url | script_tag }}
  {% endif %}
  <script>
    var isshoptimized = 1;
    if ((typeof window) === 'undefined') { window = {}; }
    window.money_format = {{ shop.money_format | json }};
    window.money_default = {{ shop.currency | json }};
    window.template = {{ template | json }};
  </script>
   
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"  defer ></script>

 
  
  {% comment %} -trckf- {% endcomment %}
{% if settings.productreview == 'loox'%}
	{{ shop.metafields.loox["global_html_head"] }}
  {% endif %}
 
 </head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
  
  <div id="top"></div>
  <div class="animsitionn">
  <div id="code_div"></div>
  <div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__header">
      <div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <i class="fa fa-times"></i>
          <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
        </button>
      </div>
    </div>
    <!-- begin mobile-nav -->
    {% include 'mobile-navigation' %}
    <!-- //mobile-nav -->
  </div>
  
    <div id="CartDrawer" class="drawer drawer--right">
      <div class="drawer__header">
        <div class="drawer__title h3">Cart</div>
        <div class="drawer__close js-drawer-close">
          <button type="button" class="icon-fallback-text">
            <span class="fa fa-times" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
          </button>
        </div>
      </div>
      <div id="CartContainer"></div>
      {% if settings.footer_checkout_single %}
        <div class="grid__item large--one-whole checkout--icons-product">
          {% if settings.enable_custom_checkout_icon %}

   <img alt="Checkout Secure" src="{{ 'checkout_icon.png' | asset_url }}" class="no-border checkout-img ratina-img" />
       

{% else %}
   <img alt="Checkout Secure" src="https://cdn.shopify.com/s/files/1/2623/6172/files/secure.png?12026884505730572547" class="no-border checkout-img ratina-img" />
       
{% endif %}
         </div>
      {% else %}
      	{% include "cart-checkout-icons" %}
      {% endif %}
      {% if settings.enable_cartstrip_text %}
        <div class="cart--promo-msg common_shipping_text"></div>
      {% endif %}
    </div>
  
  <div id="PageContainer" class="is-moved-by-drawer">
    
    {% section 'header' %}
    
    <main class="main-content" role="main">

      {% comment %}{{ content_for_layout }}{% endcomment %}{% capture zp_include_html %}{% include 'page-content.zipifypages' %}{% endcapture %}{% if zp_include_html contains 'Liquid error: Could not find asset snippets/page-content.zipifypages.liquid' %}{{ page.content | strip }}{% else %}{{ zp_include_html | strip }}{% endif %}{% assign zp_include_html =  %}
      
     
   
    </main>
      {% if section.settings.footer_video_homepage_only %}
    {% if template == 'index'%}
 	{% section 'homepage-video' %}
    {% endif %}
    {% else %}
    {% section 'homepage-video' %}
    {% endif %}
    {% section 'homepage-review' %}
    <!-- begin site-footer -->
    <footer class="site-footer medium-down--text-center" role="contentinfo">
      {% section 'footer' %}
    </footer>
    <!-- //site-footer -->
	
    {% if cart.item_count >= 1 and template != "cart" and settings.sticky_cart_icon =='yes'%} 
    <div class="cart__footer-icon">
      <a href="/cart" class="top-nav-link site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
        {% if settings.usecutomiconforcart == true %}
              <img src="{{'cart.png' | asset_url}}" class="cartimga">
              {% else%}
        <i class="fa fa-shopping-cart"></i>
        {% endif %}
        <span class="CartCount">{{ cart.item_count }}</span>
      </a>
    </div>
    {% endif %}
    <div class="addCart-popup" id="cartAddPopup">
      <div class="addCart-popup-top">
        <div class="addCart-popup-message"><i class="fa fa-check"></i>{{ 'cart.general.added_to_cart' | t }}</div>
        <a href="javascript:void(0);" class="addCart-popup-close"><i class="fa fa-remove"></i></a>
      </div>
      <table class="addCart-product-info">
        <tbody>
          <tr>
            <td class="addCart-product-item-img"></td>
            <td class="addCart-product-item-info">
              <div class="addCart-product-details"></div>
            </td>
            <td class="addCart-product-item-price"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
   
     
   
   
     <script src="{{ 'option_selection.js' | shopify_asset_url }}"   defer></script>
      <script src="{{ 'timber.js' | asset_url }}"    ></script>
    {% include 'currencies' %}
    {% include 'ajax-cart-template' %}
  
      <script>
        jQuery(function($) {
          ajaxCart.init({
            formSelector: 'form[action^="/cart/add"]',
            cartContainer: '#CartContainer',
            addToCartSelector: '.AddToCart',
            cartCountSelector: '.CartCount',
            cartCostSelector: '#CartCost',
            moneyFormat: {{ shop.money_format | json }}
          });
          timber.collectionImageSlide();
        });

        jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
     
           {% assign cross-sell-1c = "false" %}
           {% assign cross-sell-2c = "false" %}
           {% assign cross-sell-3c = "false" %}
           {% assign cross-sell-4c = "false" %}
           {% assign cross-sell-5c = "false" %}
           {% assign cross-sell-6c = "false" %}
           {% assign cross-sell-7c = "false" %}
           {% assign cross-sell-8c = "false" %}
       {% for tag in product.tags %}
  		  {% if tag == "cross-sell-1" %}
          {% assign cross-sell-1c = "true" %}
          {% elsif tag == "cross-sell-2" %}
          {% assign cross-sell-2c = "true" %}
          {% elsif tag == "cross-sell-3" %}
          {% assign cross-sell-3c = "true" %}
          {% elsif tag == "cross-sell-4" %}
          {% assign cross-sell-4c = "true" %}
          {% elsif tag == "cross-sell-5" %}
          {% assign cross-sell-5c = "true" %}
          {% elsif tag == "cross-sell-6" %}
          {% assign cross-sell-6c = "true" %}
          {% elsif tag == "cross-sell-7" %}
          {% assign cross-sell-7c = "true" %}
          {% elsif tag == "cross-sell-8" %}
          {% assign cross-sell-8c = "true" %}
          {% else %}
           {% endif %}
          {% endfor %}
           
          {% if settings.cross_sell and cross-sell-1c == "true" %}
          console.log('theme');
          if(window.x == 'sachin') {
            if ($(window).width() > 767) {
              timber.cartUpdatePopup(cart);
            } else {
              timber.RightDrawer.open();
            }
           }
         
          {% elsif settings.cross_sell and cross-sell-2c == "true" %}
                                  
           console.log('theme');
          if(window.x == 'sachin') {
            if ($(window).width() > 767) {
              timber.cartUpdatePopup(cart);
            } else {
              timber.RightDrawer.open();
            }
           }
           {% elsif settings.cross_sell and cross-sell-3c == "true" %}
                                  
           console.log('theme');
          if(window.x == 'sachin') {
            if ($(window).width() > 767) {
              timber.cartUpdatePopup(cart);
            } else {
              timber.RightDrawer.open();
            }
           }
           {% elsif settings.cross_sell and cross-sell-4c == "true" %}
                                  
           console.log('theme');
          if(window.x == 'sachin') {
            if ($(window).width() > 767) {
              timber.cartUpdatePopup(cart);
            } else {
              timber.RightDrawer.open();
            }
           }
           {% elsif settings.cross_sell and cross-sell-5c == "true" %}
                                  
           console.log('theme');
          if(window.x == 'sachin') {
            if ($(window).width() > 767) {
              timber.cartUpdatePopup(cart);
            } else {
              timber.RightDrawer.open();
            }
           }
           {% elsif settings.cross_sell and cross-sell-6c == "true" %}
                                  
           console.log('theme');
          if(window.x == 'sachin') {
            if ($(window).width() > 767) {
              timber.cartUpdatePopup(cart);
            } else {
              timber.RightDrawer.open();
            }
           }
           {% elsif settings.cross_sell and cross-sell-7c == "true" %}
                                  
           console.log('theme');
          if(window.x == 'sachin') {
            if ($(window).width() > 767) {
              timber.cartUpdatePopup(cart);
            } else {
              timber.RightDrawer.open();
            }
           }
           {% elsif settings.cross_sell and cross-sell-8c == "true" %}
                                  
           console.log('theme');
          if(window.x == 'sachin') {
            if ($(window).width() > 767) {
              timber.cartUpdatePopup(cart);
            } else {
              timber.RightDrawer.open();
            }
           }
          {% else %}
          {% if settings.atc_cart_style == "popup" %}
            if ($(window).width() > 767) {
              timber.cartUpdatePopup(cart);
            } else {
              timber.RightDrawer.open();
            }
         
           
          {% elsif settings.atc_cart_style == "slide" %}
          if ($(window).width() < 767) {
            timber.cartUpdatePopup(cart);
            } else {
            timber.RightDrawer.open();
            }
          {% elsif settings.atc_cart_style == "popup_modal" %}
            if ($(window).width() > 767) {
              timber.cartUpdatePopup(cart);
            } else {
              timber.RightDrawer.open();
            }
          {% endif %}
           {% if settings.cross_sell %}
 
              {% endif %}    
          {% endif  %}
          timber.geoIP();
        });

        jQuery(document.body).on('afterGetCart.ajaxCart', function(evt, cart) {
          timber.cartUpdatePopup(cart);
          timber.geoIP();
          free_shipping_update();
        });  

        ShopifyAPI.getCart("");

        {% if settings.cart_timer_enable and template == 'cart' %}
          jQuery(function($) {
            timber.cartTimer();
          });
        {% endif %}
      </script>
   
    {% include 'theme-modals' %}
    {% include 'buttom_popup' %}
    {% include 'search-auto-complete' %}
    {% if settings.enable_exitpopup%}
      {% include 'exit-popup' %}
    {% endif %}
    {% if settings.enable_entrytpopup%}
      {% include 'entry popup' %}
    {% endif %}
    <div style="display:none;">
      <span id="top_strip_shipping_msg">{{ settings.strip_text }}</span>
      
      <span id="common_shipping_msg">{{ settings.free_shipping_text_cart_page }}</span>
      <span id="common_free_shipping_msg">{{ settings.free_shipping_text_free_cart_page }}</span>
      
      <span id="sticky_bar_shipping_msg">{{ settings.sticky_bar_text }}</span>
      <span id="sticky_bar_free_shipping_msg">{{ settings.free_shipping_sticky_bar_text }}</span>
      
      <span id="product_page_msg">{{ settings.product_motivator_text }}</span>
      
      <span id="free_shipping_total"></span>
      <span id="mobile_bar_shipping_msg">{{ settings.mobile_top_strip }}</span>
      <span id="mobile_bar_free_shipping_msg">{{ settings.free_shipping_text_free }}</span>
      
      <span id="popup_model_shipping_msg">{{ settings.free_shipping_text_model_popup }}</span>
      <span id="popup_model_free_shipping_msg">{{ settings.free_shipping_text_free_model_popup }}</span>
      
     
      <span id="badage_free_shipping_msg">{{ settings.free_shipping_text_free_badage }}</span>
    </div>
  </div>
  
  <script>

   
  {% assign stickyEnable = false %}
  {% if settings.sticky_bar_method == "site" %}
  	{% assign stickyEnable = true %}
  {% else %}
  	{% if template == "product" %}
  	  {% for tag in product.tags %}
  		{% if tag == "sticky-header-bar" %}{% assign stickyEnable = true %}{% endif %}
  	  {% endfor %}
  	{% endif %}
  {% endif %}
    {% if stickyEnable %}
      {% if settings.enable_sticky_bar or settings.enable_sticky_bar_mobile %}
        timber.countDownTimerSticky();
      {% else %}
    {% endif %}
  {% else %}
  {% endif %}
  {% if settings.p_tag_enable %}
    timber.PerTagLine();
  {% endif %}
    
      if ($('#productSelect').length) {
    jQuery(function($) {
      new Shopify.OptionSelectors('productSelect', {
        product: {{ product | json }},
        onVariantSelected: selectCallback,
        enableHistoryState: true
      });

      // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
      {% if product.options.size == 1 and product.options.first != 'Title' %}
        $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
      {% endif %}

      // Hide selectors if we only have 1 variant and its title contains 'Default'.
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        $('.selector-wrapper').hide();
      {% endif %}
    });
  }
</script>
 
 
  
 {% if settings.enablebacktotop%}
  <a   class="go-top" title="Go to the top of the page"><span class="fa fa-angle-up"></span></a> 
 {% endif %}
<!-- Footer Scripts ================================ -->
 
{% if settings.productreview == 'loox'%}
	{{ shop.metafields.loox["global_html_body"] }}
   {% endif %}
  

 

<script>
  document.addEventListener("DOMContentLoaded", function(){
    $('.menu-dropdown-icon').hover(function(){
              $(this).addClass('slide');
          });

        $('.menu-dropdown-icon').mouseleave(function(){
          $(this).removeClass('slide');
      });
     });
  </script>
{% capture zp_include_html %}{% include 'page-footer.zipifypages' %}{% endcapture %}{% unless zp_include_html contains 'Liquid error: Could not find asset snippets/page-footer.zipifypages.liquid' %}{{ zp_include_html | strip }}{% assign zp_include_html = '' %}{% endunless %}</body>
</html>

{% layout none %}